/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

body {
  background-color: #efefef;
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.3px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 10px;
  float: left;
  border-radius: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: justify;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 75%;
  border-radius: 5px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /*for Safari*/
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

h1 {
  color: #f4a7d6ee;
}

h4,
p {
  padding: 0 10px 0 10px;
  user-select: none;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header_par {
  color: #47403e;
}

span {
  position: absolute;
  top: -5px;
  right: -8px;
  padding: 3px 9px;
  border: 2px solid white;
  border-radius: 100px;
  background: -webkit-linear-gradient(top, #ff6969 0%, #ff0000 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.4),
    0 0 1px rgba(0, 0, 0, 0.7) inset, 0 10px 0px rgba(255, 255, 255, 0.11) inset;
  -webkit-background-clip: padding-box;
  font: bold 16px/20px 'Helvetica Neue', sans-serif;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  user-select: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  background-color: lightgreen;
}
